{% macro navbar() %}
{% set section = get_section(path="_index.md") %}

<script async type="text/javascript">
    window.addEventListener("DOMContentLoaded", (event) => {
        var burger = document.querySelector('.navbar-burger');
        var menu = document.querySelector('#' + burger.dataset.target);
        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            menu.classList.toggle('is-active');
        });
    })
</script>

<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
        {% if config.extra.navbar_brand %}
        <a class="navbar-item" href="{{ section.permalink }}">
            <img src="{{ get_url(path=config.extra.navbar_brand) }}" height="50">
        </a>
        {% endif %}
        <span class="navbar-burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
        </span>
    </div>
    <div class="navbar-menu" id="navbarMenu">
        <div class="navbar-end">
        <a class="navbar-item" href="{{ section.permalink }}">{{ section.title }}</a>
    
        {% for page in section.pages %}
            <a class="navbar-item" href="{{ page.permalink }}">{{ page.title }}</a>
        {% endfor %}

        {% for path in section.subsections %}
        {% set subsection = get_section(path=path) %}
        {% if not subsection.draft %}
        <a class="navbar-item" href="{{ subsection.permalink }}">{{ subsection.title }}</a>
        {% endif %}
        {% endfor %}
    
        {% if config.extra.extra_links %}
            {% for section in config.extra.extra_links %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">{{ section.title }}</a>
                <div class="navbar-dropdown">
                    {% for link in section.links %}
                    <a class="navbar-item" href="{{ link.url }}">{{ link.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
  </div>
</nav>
{% endmacro navbar %}