{% import "_macros.html" as macros %}

<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <meta property="og:title" content="{{ config.title }}" />
  <meta property="og:description" content="{{ config.description }}" />
  <meta property="og:image" itemprop="image" content="{{ get_url(path=config.extra.og_image) }}">
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  <style>
      .copyright {
          font-size: 0.8em
      }
  </style>
  {% endblock head %}
</head>

<body>
  {% block navbar %}
  {{ macros::navbar() }}
  {% endblock navbar %}

  {% block content %}
  {% endblock content %}

  {% block footer %}
  <footer class="footer">
    {% block sitemap %}
    {% set section = get_section(path="_index.md") %}
    <div class="container is-max-desktop content">
      <div class="columns">
        <div class="column">
          <h4>Shortcuts</h4>
          <p><a href="{{ section.permalink }}">{{ section.title }}</a></p>

          {% for page in section.pages %}
            <p><a href="{{ page.permalink }}">{{ page.title }}</a></p>
          {% endfor %}

          {% for path in section.subsections %}
          {% set subsection = get_section(path=path) %}
          {% if not subsection.draft %}
            <p><a href="{{ subsection.permalink }}">{{ subsection.title }}</a></p>
          {% endif %}
          {% endfor %}
        </div>

        {% if config.extra.extra_links %}
        {% for section in config.extra.extra_links %}
        <div class="column">
          <h4>{{ section.title }}</h4>
          {% for link in section.links %}
            <p><a href="{{ link.url }}">{{ link.name }}</a></p>
          {% endfor %}
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <hr/>
    </div>
    {% endblock sitemap %}

    <div class="container content has-text-centered">
      <p class="copyright">
        {{ config.extra.copyright }}
      </p>
    </div>
  </footer>
  {% endblock footer %}
</body>
</html>